[submodule "pantheon-ecosystem"]
	path = pantheon-ecosystem
	url = git@github.com:Mimir-Solutions/pantheon-ecosystem.git
[submodule "auditing_platform"]
	path = auditing_platform
	url = git@github.com:Mimir-Solutions/auditing_platform.git
[submodule "authorization-protocol"]
	path = authorization-protocol
	url = git@github.com:Mimir-Solutions/authorization-protocol.git
[submodule "holyzeppelin"]
	path = holyzeppelin
	url = git@github.com:Mimir-Solutions/holyzeppelin.git
[submodule "mimir-dao"]
	path = mimir-dao
	url = git@github.com:Mimir-Solutions/mimir-dao.git
[submodule "telikos-dao-projects"]
	path = telikos-dao-projects
	url = git@github.com:Mimir-Solutions/telikos-dao-projects.git